/*******************************RESET******************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  z-index: 1;
}

/*******************************BACKGROUND GRADIENT ******************************/
.gradient-background {
  background: linear-gradient(300deg, #163172, #1e56a0, #d6e4f0);
  background-size: 180% 180%;
  /* animation: gradient-animation 18s ease infinite; */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*******************************PAGE STYLE******************************/
input[type]{
  border: 1px solid blue;
}

.home {
  padding-top: 8rem;
  height: inherit;
  width: inherit;
  min-height: 100vh;
}

.introductory-text {
  font-family: "Denk One", sans-serif;
  font-family: "Fredoka", sans-serif;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.5rem;
  color: #f6f6f6;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.card{
  min-width: 50%;
  padding: 0;
  /* width: 25%; */
}

.card > .card-img-top{
  max-width: 100%;
    height: auto;
    width: auto\9;
}

.bgcolor-about {
  background-color: #163172;
}

/*LOGIN*/
.formLogin{
  display:grid;
}

.formLogin > Input{
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;

  background-color: rgb(255, 255, 255);
  color: black;

  border: 1px solid #b8b8b8;
  border-radius: 4px;
}


.loginPopUp{
  background-color: rgb(243, 251, 253);

  display:grid;

  flex-wrap: center;
  position: fixed;
  
  z-index: 500;
  border-radius: 25px;

  box-shadow: 5px 10px;

  padding: 3%;
}

@media (max-height:400px){
  .loginPopUp{
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-height:350px){
  .loginPopUp{
    top: 15%;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-height:700px){
  .loginPopUp{
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.closeLoginPopUp {
  background-color: #0b81e9;
}

/* ****************Features**************** */
img {
  padding-bottom: 2rem;
}

.icon {
  background-color: white;
  filter: grayscale();
}

.icon:hover {
  cursor: pointer;
  transition: filter 0.4s ease-in-out;
  filter: none;
}

#Features-h1 {
  color: #163172;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5%;
}

.features-h3 {
  color: #1e56a0;
  font-weight: bolder;
  text-align: center;
}

.features-p {
  color: #1e56a0;
  font-weight: bold;
  text-align: center;
}

.features-p-2 {
  color: #1e56a0;
  font-weight: bold;
  text-align: center;
}

/* .textoFeatures{
  max-width: 120%;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*POPUP*/
.popup{
  position: absolute;
  z-index: 10;
  
  min-width: 80%;

  filter: none;

  backdrop-filter: blur(5px);
}

/*checklist*/
.checkList{
  columns: 3 200px;
  column-gap: 3em;
  column-rule: 1px solid #cecece;
  list-style-type: none;
}

.form-check > label{
  padding: 0;
  margin: 0;
} 



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*FEATURES*/
@media (max-width:1300px){
  .contenedorFeatures{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 50%; */
  }
}

.card {
  /* width: 90%; */
}
