apiVersion: apps/v1
kind: Deployment
metadata:
  name: games-catalog-frontend
spec:
  selector:
    matchLabels:
      app: games-catalog-frontend
  template:
    metadata:
      labels:
        app: games-catalog-frontend
    spec:
      containers:
      - name: games-catalog-frontend
        image: sebastiancharras/games-catalog-frontend
        ports:
        - containerPort: 80
